/* Genrencia de projetos */
.todo-conteudo-gerencia-projetos {
    background:#FF3773;
    color: #FFF;
    padding: 4.25rem 0rem;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 3rem;
}